body {
  padding: 0;
  margin: 0;
}

.title {
  background-color: darkblue;
  color: white;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

.loading {
  color: gray;
  text-align: center;
}

.card {
  border: 1px solid lightgrey;
  margin: 0.5rem;
  padding: 0.5rem;
}

.no-card {
  border: 1px solid transparent;
  margin: 0.5rem;
  padding: 0.5rem;
}

form.form-card {
  margin: 0.5rem;
}
input.form-card {
  width: 100%;
  padding: 0.45rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.0rem;
}
form.select-card {
  border: 1px solid lightgrey;
  margin: 0.5rem;
  padding: 0.37rem;
}
select.select-card {
  font-size: 0.9rem;
  width: 10rem;
}
.form-label {
  display: inline-block;
  width: 3rem;
}

.nav-back {
  background-color: transparent;
  float: left;

  width: 2.0rem;

  display: inline-table;
  vertical-align: middle;
  text-align: center;
}

.delete-card {
  float: right;
  background-color: red;
  color: white;

  width: 1.0rem;
  height: 1.0rem;

  display: inline-table;
  vertical-align: middle;
  text-align: center;
}

.single-order {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.order-name {
  font-weight: bold;
}

.order-coffee-summary:before {
  content: "- "
}

.add-button {
  background-color: green;
  color: white;
  bottom: 0;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}
